
<jce-user-form (userAddedEvent)="addUser($event)"></jce-user-form>

<jce-spinner [visible]="islodding" ></jce-spinner>

<div>
  <ul class="list-group users" >
    <li *ngFor = "let user of users" [class.active]="currentUser==user" (click)="select(user)" class="list-group-item">
     <jce-user [user] = "user" (deleteEvent)="deleteUser($event)" (editEvent)="updateUser($event)">  </jce-user>
    </li>
  </ul>
</div>
