<jce-invoice-form  (invoiceAddedEvent)="addInvoice($event)"></jce-invoice-form>

<div>
  <ul class="list-group users" >
    <li *ngFor = "let invoice of invoices"  class="list-group-item">
    name: {{invoice.name}}, amount: {{invoice.amount}}
    </li>
  </ul>
</div>