<div>
  <head>
    <style> 
      table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td{
        padding: 5px;
      }
    </style>
  </head>


<div>
  <h3>Products list:</h3>
   <table border="3">
        <tr>
          <th>Pid</th>
          <th>Pname</th>
          <th>Cost</th>
          <th>CategoryId</th>
        </tr>
      
        <tr  *ngFor = "let product of products" >
           <td> {{product.pid}} </td>
           <td> {{product.pname}} </td> 
           <td> {{product.cost}} </td>
           <td> {{product.category}} </td> 
           <jce-product [product] = "product" (deleteEvent)="deleteProduct($event)"></jce-product>     
     </tr>
  </table>
</div>


<div>
  <h3>Products list:</h3>
   <table border="3">
        <tr>
          <th>Pid</th>
          <th>Pname</th>
          <th>Cost</th>
          <th>CategoryId</th>
        </tr>
      
        <tr  *ngFor = "let product of products" >
           <td> {{product.pid}} </td>
           <td> {{product.pname}} </td> 
           <td> {{product.cost}} </td>
           <td *ngFor = "let product of product.productsTitle"> {{(product | async)?.name}} </td>
           <jce-product [product] = "product" (deleteEvent)="deleteProduct($event)"></jce-product>     
     </tr>
  </table>
</div>



